@media only screen and (max-width: 991px) {
 
    .content.administrativo{
    padding-top: 2em;
    padding-right: 3em;
    padding-left: 3em !important;

}
}



*{
    font-family: 'Open Sans', sans-serif;

        font-weight: bold !important;

    
    
}