

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 996;
  will-change: opacity;
}

.pinkFim {
    background-color: #E73157 !important;
}

.pinkFim-opa{
    background-color: rgba(231,49,87,.4) !important;
    color: rgba(255,255,255,1);
}


.pinkFim.lighten {
    background-color: #E45C80 !important;
}

.pinkFim.lighten-2 {
    background-color: #F18EAC !important;
}

.blueFim {
    background-color: #2355A2 !important;
}

.greenFim {
    background-color: #2B8F49 !important;
    opacity: .95;
}

.pinkFim-text {
    color: #E73157 !important;
}

.pinkFim-text.lighten{
    color: #E45C80 !important;
}

.pinkFim-text.lighten-2{
    color: #F18EAC !important;
}

.blueFim-text {
    font-size: 4em;
    color: #2355A2 !important;
}

.blueFim-text strong {
    color: #E73157 !important;
}

.greenFim-text {
    color: #2B8F49 !important;
}
.greenFim-text strong {
    color: #EF4065 !important;
}


.navFim {
    
}

.vert-divFim {
    border-left: 2px;
    border-left-color: #fff;
}

.fim-z {
    z-index: 998 !important;
}

*{
    /*font-family: 'Raleway', sans-serif;*/
font-family: 'Josefin Sans', sans-serif;
}

.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}