footer.page-footer{
    background-color: black;
}


nav,.nav-wrapper{
    background-color: black;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.collection .collection-item {
    border-bottom: none;
}

article, answ{
    margin-left: 10%;
    margin-right: 10%;
    
}

.btn{
    background-color: black !important;
}

.preguntas{
font-weight: bold;
}